<div class="head d-flex justify-content-between">
    <div class="button">
        <p class="m-auto">الدخول</p>
    </div>
    <div class="list d-flex">
        <ul class="d-flex">
            <li>الوظائف</li>
            <li>الأدوات</li>
            <li>المدونة</li>
            <li>المجتمع</li>
            <li>الدورات</li>
            <li>
                <div class="img">
                    <img src="../../assets/Logo.png" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>